In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("C:/Agnel/25MCAB02/Placement-Career-System/data/raw/placementdata_with_company_tier.csv")
df_raw = pd.read_csv("C:/Agnel/25MCAB02/Placement-Career-System/data/raw/placementdata_with_company_tier.csv")
df_raw["PlacementStatus"].value_counts(dropna=False)

PlacementStatus
NotPlaced    5803
Placed       4197
Name: count, dtype: int64

In [40]:
df.shape
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  10000 non-null  int64
 1   CGPA                       10000 non-null  float64
 2   Internships                10000 non-null  int64
 3   Projects                   10000 non-null  int64
 4   Workshops/Certifications   10000 non-null  int64
 5   AptitudeTestScore          10000 non-null  int64
 6   SoftSkillsRating           10000 non-null  float64
 7   ExtracurricularActivities  10000 non-null  object
 8   PlacementTraining          10000 non-null  object
 9   SSC_Marks                  10000 non-null  int64
 10  HSC_Marks                  10000 non-null  int64
 11  PlacementStatus            10000 non-null  object
 12  Company_Tier               4197 non-null   object
dtypes: float64(2), int64(7), object(4)
memory usage: 1015.8+ KB

StudentID                       0
CGPA                            0
Internships                     0
Projects                        0
Workshops/Certifications        0
AptitudeTestScore               0
SoftSkillsRating                0
ExtracurricularActivities       0
PlacementTraining               0
SSC_Marks                       0
HSC_Marks                       0
PlacementStatus                 0
Company_Tier                 5803
dtype: int64

In [42]:
df = df.drop(columns=["StudentID"])

KeyError: "['StudentID'] not found in axis"

In [43]:
df["PlacementTraining"] = df["PlacementTraining"].map({
    "Yes": 1,
    "No": 0
})

In [44]:
df["ExtracurricularActivities"].value_counts()

ExtracurricularActivities
Yes    5854
No     4146
Name: count, dtype: int64

In [45]:
df["ExtracurricularActivities"] = df["ExtracurricularActivities"].map({
    "Yes": 1,
    "No": 0
})

In [46]:
df["PlacementStatus"] = df_raw["PlacementStatus"]

# Convert to string and normalize
df["PlacementStatus"] = (
    df["PlacementStatus"]
    .astype(str)
    .str.strip()
    .str.lower()
)

In [47]:
df["PlacementStatus"].value_counts()

PlacementStatus
notplaced    5803
placed       4197
Name: count, dtype: int64

In [48]:
df["PlacementStatus"] = df["PlacementStatus"].map({
    "placed": 1,
    "notplaced": 0,
    "not placed": 0
})

In [49]:
df["PlacementStatus"].value_counts()
df["PlacementStatus"].isnull().sum()

np.int64(0)

In [50]:
df.to_csv("../data/processed/cleaned_placement_data.csv", index=False)